<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiitabuilder.mapper.ArticleMapper">
    <insert id="insertArticle">
        INSERT INTO articles(
        user_id,
        created_at,
        title,
        content,
        qiita_article_id,
        state_flag)
        VALUES (
        #{postedUser.userId},
        NOW(),
        #{title},
        #{content},
        #{qiitaArticleId},
        #{stateFlag})

        <selectKey resultType="Integer" keyProperty="articleId" order="AFTER">
            select @@IDENTITY
        </selectKey>
    </insert>

    <update id="updateArticle">
        UPDATE articles
        SET user_id          = #{postedUser.userId},
            updated_at       = NOW(),
            title            = #{title},
            content          = #{content},
            qiita_article_id = #{qiitaArticleId},
            state_flag       = #{stateFlag}
        WHERE article_id = #{articleId}
    </update>

</mapper>
