<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiitabuilder.mapper.RecommendMapper">

    <select id="getQiitaRecommendedRank" resultType="Integer">
        SELECT posted_user_id
        FROM qiita_recommends
        GROUP BY posted_user_id
        ORDER BY count(*) DESC;
    </select>

    <select id="getAllCountByUserId" resultType="Integer">
        SELECT count(*)
        FROM qiita_recommends
        WHERE posted_user_id = #{postedUserId};
    </select>

    <select id="getMostRecommendedArticleId" resultType="Integer">
        # sortId =
        # 1 : FB投稿数Rank
        # 2 : 記事投稿数Rank

        SELECT
        (
        select qr.article_id
        from qiita_recommends AS qr
        WHERE qr.article_id IN (
        <choose>
            <when test='sortId == "1"'>
                SELECT fb.article_id
                FROM feedbacks AS fb
                WHERE fb.user_id = #{userId}
                AND fb.article_id IN (
                SELECT art.article_id
                FROM articles AS art
                WHERE art.state_flag = 1 OR art.state_flag = 2
                )
            </when>
            <when test='sortId == "2"'>
                SELECT art.article_id
                FROM articles AS art
                WHERE art.user_id = #{userId}
                AND (state_flag = 1 OR state_flag = 2)
            </when>
            <otherwise>
                SELECT art.article_id
                FROM articles AS art
                WHERE art.user_id = #{userId}
                AND (state_flag = 1 OR state_flag = 2)
            </otherwise>
        </choose>
        )
        group by qr.article_id
        having count(*) = max(b.cnt)
        ) AS max_count_article_id
        FROM (
        SELECT article_id,
        count(*) AS cnt
        FROM qiita_recommends
        WHERE article_id IN (
        <choose>
            <when test='sortId == "1"'>
                SELECT fb.article_id
                FROM feedbacks AS fb
                WHERE fb.user_id = #{userId}
                AND fb.article_id IN (
                SELECT art.article_id
                FROM articles AS art
                WHERE art.state_flag = 1 OR art.state_flag = 2
                )
            </when>
            <when test='sortId == "2"'>
                SELECT article_id
                FROM articles
                WHERE user_id = #{userId}
                AND (state_flag = 1 OR state_flag = 2)
            </when>
            <otherwise>
                SELECT article_id
                FROM articles
                WHERE user_id = #{userId}
                AND (state_flag = 1 OR state_flag = 2)
            </otherwise>
        </choose>
        )
        GROUP BY article_id
        ) AS b;
    </select>

    <select id="findByArticleIdAndRecommendUserId" resultMap="findByArticleIdAndRecommendUserIdResult">
        SELECT
        *
        FROM
        qiita_recommends
        WHERE
        article_id = #{articleId}
        AND
        recommend_user_id = #{recommendUserId};
    </select>
    <resultMap id="findByArticleIdAndRecommendUserIdResult" type="com.qiitabuilder.domain.Recommend">
        <id property="recommendId" column="recommend_id"/>
        <result property="articleId" column="article_id"/>
        <result property="postedUserId" column="posted_user_id"/>
        <result property="recommendUserId" column="recommend_user_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.qiitabuilder.domain.Recommend">
        INSERT INTO
        qiita_recommends(article_id, posted_user_id, recommend_user_id)
        VALUES( #{articleId}, #{postedUserId}, #{recommendUserId} );
    </insert>

    <select id="getAutoIncrementKey" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>

    <delete id="delete">
        DELETE
        FROM
        qiita_recommends
        WHERE
        recommend_id = #{recommendId};
    </delete>

</mapper>