<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiitabuilder.mapper.UserMapper">

    <select id="selectTest" resultType="map">
        SELECT *
        FROM users;
    </select>
    <select id="fetchUserDetails" resultMap="userDetailsResultMap">
        select u.user_id                         as user_id,
               u.display_name                    as display_name,
               u.photo_url                       as photo_url,
               tag_cnt_table.tag_cnt             as used_tag_count,
               tags.tag_name                     as tag_name,
               feed_cnt_table.feed_cnt           as feedback_count,
               art_qiita_cnt_table.art_qiita_cnt as posted_article_count,
               recommend_cnt_table.recommend_cnt as qiita_recommended_all_count
        from qiita_builder.users as u
                 left outer join (select tag_id, posted_user_id, count(a_t_relation.tag_id) as tag_cnt
                                  from qiita_builder.articles_tags_relations as a_t_relation
                                  group by a_t_relation.tag_id) as tag_cnt_table
                                 on u.user_id = tag_cnt_table.posted_user_id
                 left outer join qiita_builder.tags as tags on tag_cnt_table.tag_id = tags.tag_id
                 left outer join (select user_id, count(feed.user_id) as feed_cnt
                                  from qiita_builder.feedbacks as feed
                                  group by feed.user_id) as feed_cnt_table
                                 on u.user_id = feed_cnt_table.user_id
                 left outer join (select user_id, count(art.user_id) as art_qiita_cnt
                                  from qiita_builder.articles as art
                                  where art.state_flag = 2
                                  group by art.user_id) as art_qiita_cnt_table
                                 on u.user_id = art_qiita_cnt_table.user_id
                 left outer join (select posted_user_id, count(recommend.posted_user_id) as recommend_cnt
                                  from qiita_builder.qiita_recommends as recommend
                                  group by recommend.posted_user_id) as recommend_cnt_table
                                 on u.user_id = recommend_cnt_table.posted_user_id
        where u.user_id = #{userId};
    </select>


    <select id="findByUid" resultMap="userResultMap">
        SELECT user_id      as user_id,
               uid          as uid,
               photo_url    as photo_url,
               display_name as display_name,
               password     as password
        FROM users
        WHERE uid = #{uid}
    </select>
    <select id="findByUserId">
        SELECT user_id      as user_id,
               uid          as uid,
               photo_url    as photo_url,
               display_name as display_name,
               password     as password
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="findQiitaApiCodeByUserId">
        SELECT qiita_api_code
        FROM users
        WHERE user_id = #{userId}
    </select>

    <update id="updateQiitaApiCode">
        UPDATE users
        SET qiita_api_code = #{qiitaApiCode}
        WHERE user_id = #{userId}
    </update>

    <insert id="insert">
        INSERT INTO users(uid, password, photo_url,display_name)
        VALUES (#{uid}, #{password}, #{photoUrl}, #{displayName})
    </insert>

    <resultMap id="userResultMap" type="com.qiitabuilder.domain.User">
        <id column="user_id" property="userId"/>
        <result column="uid" property="uid"/>
        <result column="photo_url" property="photoUrl"/>
        <result column="display_name" property="displayName"/>
        <result column="password" property="password"/>
    </resultMap>

    <resultMap id="userDetailsResultMap" type="com.qiitabuilder.domain.User">
        <id column="user_id" property="userId"/>
        <result column="photo_url" property="photoUrl"/>
        <result column="display_name" property="displayName"/>
        <result column="feedback_count" property="feedbackCount"/>
        <result column="posted_article_count" property="postedArticleCount"/>
        <result column="qiita_recommended_all_count" property="qiitaRecommendedAllCount"/>
        <collection property="usedTags" ofType="com.qiitabuilder.domain.Tag">
            <result column="used_tag_count" property="usedTagCount"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
</mapper>
